{
    "package": {
        "name": "compose",
        "repo": "docker",
        "subject": "mtsmfm",
        "desc": "Automated build of master branch from travis ci.",
        "website_url": "https://github.com/mtsmfm/compose",
        "issue_tracker_url": "https://github.com/mtsmfm/compose/issues",
        "vcs_url": "https://github.com/mtsmfm/compose.git",
        "licenses": ["Apache-2.0"]
    },

    "version": {
        "name": "${TRAVIS_BRANCH}",
        "desc": "Automated build of the ${TRAVIS_BRANCH} branch.",
        "released": "${DATE}",
        "vcs_tag": "master"
    },

    "files": [
        {
            "includePattern": "dist/(.*)",
            "excludePattern": ".*\.tar.gz",
            "uploadPattern": "$1",
            "matrixParams": { "override": 1 }
        }
    ],
    "publish": true
}
